/* 
ul {
    list-style: none;
    display: flex;
    background-color: #ffffff;
    padding: 15px;
    justify-content: space-around;
}

li {
    margin: 0;
}

NavLink {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

NavLink:hover {
    color: #eaeaea;
} */
/* Estilos para el Navbar */
.container {
    background-color: #fff;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    margin: 0;
}

li {
    margin: 0;
}

.NavLink {
    text-decoration: none;
    color: #8f8282;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

.NavLink:hover {
    color: #eaeaea;
}
